<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.list}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<h1 th:text="#{view.list}">후원금 관리</h1>
<table>
    <tr>
        <th>no</th>
        <th>날짜</th>
        <th>수입</th>
        <th>지출</th>
        <th>잔액</th>
        <th>적요</th>
        <th>범주</th>
        <th>명령</th>
    </tr>
    <tr th:each="record: ${list}">
        <td th:text="${record.getId()}"></td>
        <td th:text="${#temporals.format(record.date, 'yyyy.MM.dd')}"></td>
        <!--수입-->
        <td>
            <span th:if="${#strings.equals('수입',record.getRevenueOrExpense())}">
            <!--<a th:if="${#strings.equals('KRW',record.getAmount().getCurrencyCode())}" th:text="${'\'}"></a> 이렇게하면 통화문자마다 써줘야함 -->
            <a th:text="${#recordsUtil.change(record.getBalance().getCurrencyCode())}"></a>
            <a th:text="${#numbers.formatInteger(#strings.substring(record.getAmount(),3),3,'COMMA')}"></a>
            </span>
        </td>
        <!--지출-->
        <td>
            <span th:if="${#strings.equals('지출',record.getRevenueOrExpense())}">
            <a th:text="${#recordsUtil.change(record.getBalance().getCurrencyCode())}"></a>
            <a th:text="${#numbers.formatInteger(#strings.substring(record.getAmount(),3),3,'COMMA')}"></a>
            </span>
        </td>
        <!--잔액-->
        <td>
            <a th:if="${#strings.equals('KRW',record.getBalance().getCurrencyCode())}" th:text="${'\'}"></a>
            <a th:text="${#numbers.formatInteger(#strings.substring(record.getBalance(),3),3,'COMMA')}"></a>
        </td>
        <!--적요-->
        <td th:text="${record.getSummary()}"></td>
        <!--범주-->
        <td th:text="${record.getCategory()}"></td>
    </tr>
    <tr><td><a href="/dailybook/add">추가</a></td></tr>
</table>
</body>
</html>